<a href="https://colab.research.google.com/github/parul2712/ML-LAB/blob/main/MLexp7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd

file_path = "/content/drive/MyDrive/titanic.csv"  # Update with your file path
df = pd.read_csv(file_path)

print(df.head())  # Display first few rows

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [4]:
missing_values_per_column = df.isnull().sum()
print("Missing values per column:\n", missing_values_per_column)

Missing values per column:
 PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [5]:
total_missing_values = df.isnull().sum().sum()
print("\nTotal missing values:", total_missing_values)

Total missing values: 866

In [6]:
print(df.columns)

if "Survived" in df.columns:
    survivors = df["Survived"].sum()
    print("Number of people who survived:", survivors)
    print("\nSurvival Count:\n", df["Survived"].value_counts())

else:
    print("The dataset does not contain a 'Survived' column.")

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
Number of people who survived: 342

Survival Count:
 Survived
0    549
1    342
Name: count, dtype: int64

In [7]:
if "Survived" in df.columns and "Sex" in df.columns:

    survival_count = df.groupby("Sex")["Survived"].sum()

    print("Number of male survivors:", survival_count.get("male", 0))
    print("Number of female survivors:", survival_count.get("female", 0))

else:
    print("Dataset does not contain 'Survived' or 'Sex' columns.")

Number of male survivors: 109
Number of female survivors: 233

In [8]:
if "Survived" in df.columns and "Age" in df.columns:
    avg_age_survivors = df[df["Survived"] == 1]["Age"].mean()
    print("Average age of people who survived:", round(avg_age_survivors, 2))

else:
    print("Dataset does not contain 'Survived' or 'Age' columns.")

Average age of people who survived: 28.34

In [9]:
if "Survived" in df.columns and "Age" in df.columns:

    survivors = df[df["Survived"] == 1]

    min_age = survivors["Age"].min()
    max_age = survivors["Age"].max()

    print("Youngest survivor (minimum age):", min_age)
    print("Oldest survivor (maximum age):", max_age)
else:
    print("Dataset does not contain 'Survived' or 'Age' columns.")

Youngest survivor (minimum age): 0.42
Oldest survivor (maximum age): 80.0

In [11]:
if "Survived" in df.columns and "Pclass" in df.columns:

    survival_per_class = df.groupby("Pclass")["Survived"].sum()

    print("Survival count per class:\n", survival_per_class)
else:
    print("Dataset does not contain 'Survived' or 'Pclass' columns.")

Survival count per class:
 Pclass
1    136
2     87
3    119
Name: Survived, dtype: int64

In [12]:
if "SibSp" in df.columns:

    passengers_with_sibsp = df[df["SibSp"] > 0].shape[0]

    print("Number of passengers with siblings or spouses on the Titanic:", passengers_with_sibsp)
else:
    print("Dataset does not contain 'SibSp' column.")

Number of passengers with siblings or spouses on the Titanic: 283

In [13]:
if "Parch" in df.columns:

    passengers_with_parch = df[df["Parch"] > 0].shape[0]

    print("Number of passengers with parents or children on the Titanic:", passengers_with_parch)
else:
    print("Dataset does not contain 'Parch' column.")

Number of passengers with parents or children on the Titanic: 213

In [17]:
last_two_columns = df.iloc[:, -2:]
print(last_two_columns)

    Cabin Embarked
0     NaN        S
1     C85        C
2     NaN        S
3    C123        S
4     NaN        S
..    ...      ...
886   NaN        S
887   B42        S
888   NaN        S
889  C148        C
890   NaN        Q

[891 rows x 2 columns]

In [18]:
last_two_columns = df.iloc[-2:]
print(last_two_columns)

     PassengerId  Survived  Pclass                   Name   Sex   Age  SibSp  \
889          890         1       1  Behr, Mr. Karl Howell  male  26.0      0
890          891         0       3    Dooley, Mr. Patrick  male  32.0      0

     Parch  Ticket   Fare Cabin Embarked
889      0  111369  30.00  C148        C
890      0  370376   7.75   NaN        Q

In [19]:
last_two_columns = df.columns[-2:]
print(last_two_columns)

Index(['Cabin', 'Embarked'], dtype='object')